<h1 class="title">Products</h1>

<ul>
  <% @products.each do |product| %>
    <li>
        <h2><%= product.title %></h2>
        <p><%= product.blurb %></p>
        <%= link_to "See details", product_path(product) %>
    </li>
  <% end %>
</ul>
